VITE_FIREBASE_API_KEY=AIzaSyCOESDi2WFbBVqwTcLRQAVHGq_meeiq8Ko
VITE_FIREBASE_AUTH_DOMAIN=quickmeet-c7b49.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=quickmeet-c7b49
VITE_FIREBASE_STORAGE_BUCKET=quickmeet-c7b49.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=621273425754
VITE_FIREBASE_APP_ID=1:621273425754:web:9cff925bdda28c4a433563
